*{
    padding: 0;
    margin: 0;
  }
  .nav-customer {
    height: 100px;
  }
.body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
      to left,
      #FDCB0D 0%,
      #FDCB0D 50%,
      #000000  50%,
      #000000  100%
    );
    /* display: flex; */
  }
.under-body {
  /* justify-content : center ; */
  /* background-color : white; */
}

.form {
    /* Uniquement centrer le formulaire sur la page */
    text-align : center ;
    margin: 0 auto;
    width: 500px;
    height: 600px;
    /* Encadré pour voir les limites du formulaire */
    padding: 2em;
    border: 1px solid #CCC;
    border-radius: 0.5em;
    background-color : white;
    
}

.square {
  text-align :left;
}

/* input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 20px ;
  width: 321px ;
}

input[type=email] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 20px ;
  width: 400px ;
}
input[type=password] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 20px ;
  width: 321px ;
} */
label {
  font-size:14px;
  font-family: 'Poppins';
  font-weight : 600 ;
}

.style1{
  font-size : 30px;
  font-family: 'Nueva Std';
  font-weight: bold;
}
.style2{
  font-size : 13px;
  font-family: 'Poppins';
  font-weight: lighter;
}

.style3 {
  font-size : 12px;
  font-family: 'Poppins';
  font-weight : lighter;
}
.bt{
  background-color: black;
  text-align: center;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight :400;
  color: white; 
  display: inline-block;
  padding: 6px 110px;
  border-radius: 3px;
  cursor : pointer;
}
