
.logo {
    color: green;
}
.bi-facebook {
    margin: 10px;
    color: blue;
}
.bi-twitter {
    margin: 10px;
    color: #3987c9;
}
.bi-google {
    margin: 10px;
    color: grey;
}

.bi-youtube {
    margin: 10px;
    color: red;
}
.bi-instagram{
    margin: 10px;
    color : #FF69B4;
}


